@page
@model CarsModel
@{
    ViewData["Title"] = "Automobilių sąrašas";
}
<style>
    h1 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 1rem;
        display: flex;
        justify-content: left;
        align-items: start;
        margin: 0;
    }

    .action-links a {
        text-decoration: none;
        color: #333;
    }

        .action-links a:hover {
            text-decoration: underline;
        }

    .new-car-link {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

    

   
</style>

<body>

    <div class="container-fluid">

        <h1>@ViewData["Title"]</h1>

        <div class="new-car-link">
            <a href="/AddCar" class="btn btn-secondary" style="margin-right: 1.5rem;">Pridėti naują automobilį</a>
            <a href="/Filter" class="btn btn-secondary">Filtruoti automobilius</a>
        </div>


        <table cellpadding="10" cellspacing="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="background-color: #827a78;border: 2px solid #333;">Markė</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Išleidimo metai</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Litražas</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Kuro tipas</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Rida</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Įvertinimas</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Statusas</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Kaina</th>
                    <th style="background-color: #827a78;border: 2px solid #333;">Draudimai</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 2px solid #333;"><a href="/Car?make=BMW&year=2015&engineSize=2.0&fuelType=Dyzelinas&mileage=150000&grade=9/10&state=Aktyvus&price=15000&insurance=Privalomas, Kasko">BMW (spaudžiamas)</a></td>
                    <td style="border: 2px solid #333;">2015</td>
                    <td style="border: 2px solid #333;">2.0</td>
                    <td style="border: 2px solid #333;">Dyzelinas</td>
                    <td style="border: 2px solid #333;">150000 km</td>
                    <td style="border: 2px solid #333;">9/10</td>
                    <td style="border: 2px solid #333;">Aktyvus</td>
                    <td style="border: 2px solid #333;">€15,000</td>
                    <td style="border: 2px solid #333;">Privalomas, Kasko</td>
                    <td class="action-links">
                        <b>
                            <a href="/ChangeCar?make=BMW&year=2015&engineSize=2.0&fuelType=Dyzelinas&mileage=150000&grade=9/10&state=Aktyvus&price=15000&insurance=Privalomas, Kasko">Redaguoti</a>
                            <a href="/Confirmation?make=BMW" >Pašalinti</a>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid #333; cursor: pointer;"><a href="/Car?make=Audi&year=2018&engineSize=1.8&fuelType=Benzinas&mileage=80000&grade=8/10&state=Aktyvus&price=18000&insurance=Privalomas">Audi <span>(spaudžiamas)</span></a></td>
                    <td style="border: 2px solid #333;">2018</td>
                    <td style="border: 2px solid #333;">1.8</td>
                    <td style="border: 2px solid #333;">Benzinas</td>
                    <td style="border: 2px solid #333;">80000 km</td>
                    <td style="border: 2px solid #333;">8/10</td>
                    <td style="border: 2px solid #333;">Aktyvus</td>
                    <td style="border: 2px solid #333;">€18,000</td>
                    <td style="border: 2px solid #333;">Privalomas</td>
                    <td class="action-links">
                        <b>
                            <a href="/ChangeCar?make=Audi&year=2018&engineSize=1.8&fuelType=Benzinas&mileage=80000&grade=8/10&state=Aktyvus&price=18000&insurance=Privalomas">Redaguoti</a>
                            <a href="/Confirmation?make=Audi">Pašalinti</a>
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>



   

</body>
