@page
@model ISP.Pages.Pay
@{
    ViewData["Title"] = "Apmokėjimas";
}

<script src="https://www.paypal.com/sdk/js?client-id=AVXBVABSZw-tFlfz9bYa4Ah-d099qzvVWLyIokD9pstLcKWo1VvJsFx8SbZT8ECBgeg4ZCsPsDgFyYbC&currency=USD"></script>

<style>
    .join {
        width: 100%;
        gap: 5px;
        justify-content: space-between;
    }

    .join div {
        width: 100%;
    }
</style>

<div class="container">
    <h1>Apmokėjimas</h1>

    <form id="paymentForm" method="post" style="display: none;">
        <input type="hidden" name="orderID" id="orderID" />
        <input type="hidden" name="paymentID" id="paymentID" />
        <input type="hidden" name="payerID" id="payerID" />
    </form>

    <div id="paypal-button-container"></div>
</div>

<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: @Model.automobilis.Kaina
                    }
                }]
            });
        },

        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                document.getElementById("orderID").value = data.orderID;
                document.getElementById("paymentID").value = details.id;
                document.getElementById("payerID").value = data.payerID;

                document.getElementById("paymentForm").submit();
            });
        },

        onCancel: function (data) {
            
        },

        onError: function (err) {
            alert('Error occurred: ' + err.message);
        }
    }).render('#paypal-button-container');  // Render the button inside the container
</script>