@page
@model ISP.Pages.RepairHistoryModel
@{
    ViewData["Title"] = "Remonto istorija";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

<table cellpadding="10" cellspacing="0" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
    <thead>
    <tr>
        <th style="background-color: #827a78;border: 2px solid #333;">VIN</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Servisas</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Atlikti darbai</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Darbų kaina</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Sąskaita</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Būsena</th>
        <th style="background-color: #827a78;border: 2px solid #333;">Veiksmai</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="border: 2px solid #333;">WAUZZZ3341442AE33</td>
        <td style="border: 2px solid #333;">Bosch servisas</td>
        <td style="border: 2px solid #333;">Stabdžių diskų keitimas</td>
        <td style="border: 2px solid #333;">300</td>
        <td style="border: 2px solid #333;"><a href="?">Atsisiųsti</a></td>
        <td style="border: 2px solid #333;">Neatliktas</td>
        <td style="border: 2px solid #333;">
            <a href="?" class="btn btn-warning">Redaguoti</a>
            <a href="?" class="btn btn-danger">Šalinti</a>
        </td>
    </tr>
    </tbody>
</table>
</div>