@page "{id:int}"
@model ISP.Pages.Reserve
@{
    ViewData["Title"] = "Rezevacija";
}

<div class="container">
    <h1>Rezervuoti automobilį</h1>

    <form id="reservationForm" method="post">
        <div class="form-group">
            <label>Markė</label>
            <input asp-for="automobilis.Marke" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label>Kaina</label>
            <input asp-for="automobilis.Kaina" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label>Pradžios data</label>
            <input asp-for="StartDate" class="form-control date-input" />
        </div>

        <div class="form-group">
            <label>Pabaigos Data</label>
            <input asp-for="EndDate" class="form-control date-input"></input>
        </div>

        <div class="form-group">
            <label>Trumpalaikė rezervacija</label>
            <input asp-for="ShortTime" id="shortTimeCheckbox"></input>
        </div>

        <button type="submit" class="btn btn-primary">Rezervuoti</button>
        <a href="/Cars" class="btn btn-secondary">Atšaukti</a>
    </form>
</div>

<script>
    const checkbox = document.getElementById('shortTimeCheckbox');
    const reservationForm = document.getElementById('reservationForm');

    checkbox.addEventListener('change', () => {
        for (var element of document.getElementsByClassName("date-input")) {
            if (checkbox.checked)
                element.setAttribute("disabled", "disabled");
            else
                element.removeAttribute("disabled");
        }
    })
</script>